/*-----------------------------------*\
  #style.css
\*-----------------------------------*/
/*-----------------------------------*\
  #IMPORTS
\*-----------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');



:root {

    /**
     * colors
     */
    --rosy-red: hsl(352, 87%, 63%);
    --good-green: hsl(98, 100%, 82%);
    --coding-green: hsl(120, 76%, 49%);
    --black-texture: hsl(45, 77%, 14%);
    --golden-gold: hsl(47, 100%, 50%);
    --pinky-pink: hsl(350, 80%, 82%);
    --black-hover:hsl(0, 2%, 8%);
    --black:hsl(210, 5%, 8%);
    --white: hsl(0, 0%, 100%);
}  

/*-----------------------------------*\
  #ICONS FROM GOOGLE FONTS
\*-----------------------------------*/


.material-symbols-outlined {
  font-size: 40px !important;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: var(--coding-green);
}
.material-symbols-outlined:hover{
  color:var(--golden-gold)
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*-----------------------------------*\
  #MAIN WINDOW
\*-----------------------------------*/

.main-container{
  height: 100%;
  background-image: url('/images/nice-background.jpg');
  background-size: contain;
  background-color: var(--black);
  display: flex;
  flex-direction: row;
}


/*-----------------------------------*\
  #NAVBAR
\*-----------------------------------*/

.navbar{
  position: fixed;
  backdrop-filter: blur(10px);
  background-color: transparent;
  border-right: 1px solid var(--coding-green);
  display: flex;
  flex-direction: column;
  width: 6%;
  height: 100% !important;
}

.logoimg{
  content:url("../images/SID-385.png");
}


.logo{
  margin: 0.625rem auto;
  margin-bottom: 0;
}
.navbar .logo img{
  width: 5rem;
  
  

}


.navbar .tabs{
  display: flex;
  flex-direction: column;
  margin: 100px auto;
}

.navbar .tabs a{
  padding: 10px 0;
}

/*-----------------------------------*\
  #MAIN BODY SECTION
\*-----------------------------------*/
.main-body{
  width: 90%;
  height: 100%;
  margin: 2px auto;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.main-body section{
  flex: 1 1 0%;;
}
/*-----------------------------------*\
  #HOME SCREEN
\*-----------------------------------*/
/* main body */
.main-body .Home{
  display: flex;
  flex-direction: column;
  
  
}
    

/* picture and name and info */
.intro{
  margin: 100px auto;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  width: 100% !important;
  justify-content: center !important;
}
/* img css */
.intro img{
  margin: auto;
  margin-bottom: 25px;
  position:relative;
  border-radius: 50%;
  height: 12%;
  width: 12%;
  
}
/* name info setting */
.intro .name-info{
  margin:5px auto;
  width:30%;
  height: 30%;
}
/* name setting */
.name-info h1{
  text-align: center;
  font-family: "Protest Guerrilla", sans-serif;
  font-size: 2.5rem;
  font-style: bold;
  color: var(--coding-green);
}
/* paragraph setting */
.intro .name-info p{
  margin: 1.25rem auto;
  font-family: "Titillium Web", cursive;
  color:var(--coding-green)
}

#passionate{
  font-style: italic;
  color: var(--golden-gold);
}

/* Contact Me button */
.contact-btn{
  backdrop-filter: blur(10px);
  margin: auto;
  margin-top: 0;
  margin-bottom: 10px;
  background-color: transparent;
  border: 1px solid var(--coding-green);
  border-radius: 1.875rem;
  box-shadow: 0 0 1px transparent;
  color:var(--coding-green);
  display: inline-block;
  font-weight: 700;
  line-height: 1;
  padding: .75rem 2rem;
}

.contact-btn:hover{
  background-color: var(--golden-gold);
  color: var(--black-texture);
  font-weight: bold;
}



/* Social Box */
.social-box{
  padding:20px 20px 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 10px;
  margin: 15px auto;
  border: 2px solid var(--coding-green);
  border-radius: 15px 50px;
  border-style: groove;
  backdrop-filter: blur(10px);
  margin-bottom: 50px;
  
  
}

.social-box a{
  margin:auto;
  padding: 2px 10px 2px 10px;
  
}
.social-box a:hover{
  background-color: var(--golden-gold);
  border-radius: 50px;
  
  
}

/*-----------------------------------*\
  # ABOUT PAGE
\*-----------------------------------*/
.About{
  width: 94%;
  margin: auto;
  
}
/* About Heading */
.About h1{
  font-family: "Handjet", sans-serif;
  color:var(--rosy-red);
  font-size: 80px;
  text-align: center;
  margin-bottom: 100px;

}
/* text info of about */
.About .about-info{
  text-align: center;
  color: var(--rosy-red);
  width: 50%;
  margin: auto;
  margin-bottom: 30px;
  border: 2px solid var(--rosy-red);
  padding:20px;
  backdrop-filter: blur(10px);
  border-radius: 50px;
  font-family: "Titillium Web", cursive;

}



.About .about-info a{
  color:var(--golden-gold)
}


.About .about-info a:hover{
  color:black;
  background-color:var(--rosy-red)
}

.about-container-large{
  display: flex;
  flex-direction: row;
  margin: auto;
  color: white;
  width: 80%;
  padding: 70px;
  
}
.about-box{
  border: 2px solid var(--rosy-red);
  text-align: center;
  border-radius: 10px 20px 10px 20px;
  backdrop-filter: blur(10px);
  margin: 0 15px;
  flex: 1;
}



.about-box h2{
  font-family: "Lobster", sans-serif;
  color: var(--rosy-red);
  padding-top: 10px;
  margin-bottom: 25px;
  --animate-duration: 5s;
}
.about-box ul{
  text-align: left;
  padding-left:0;
  margin-top: 30px;
  list-style: none;
}
/* Animated property of ul */
.about-container-small{
  display: none;
}
.swiper-wrapper{
  display:none;
}

.about-box li{
  display: flex; /* Use flexbox to align icon and text */
  align-items: center; /* Vertically align icon with text */
  font-size: 1rem;
  /* background: black; */
  margin: 10px 0;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  font-family: "Titillium Web", cursive;
  color: var(--pinky-pink);
}
.about-box li i {
  /* font-size: 1.8rem; */
  color: var(--golden-gold);
  margin-right: 15px;
}
.about-box li span{
  color:var(--golden-gold);
  padding-left: 4px;
  font-style: italic;
  font-weight: bold;
}

/*-----------------------------------*\
  #SKILLS PAGE
\*-----------------------------------*/

.skills{
  width: 94%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
 
  
.skills h1{
  font-family: "Lobster", sans-serif;
  font-size: 55px;
  color: var(--golden-gold);
  text-align: center;
  padding-top: 10px;
  margin-bottom: 25px;
  --animate-duration: 5s;
 
}
.skills .container{
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  color:white;
  border: 2px solid var(--golden-gold);
  height:30vh;
  width:50vw;
  justify-content: space-between;
  backdrop-filter: blur(10px);

}
.container .lang{
  margin:auto 10px;
  padding-top: 5px;
  border: 2px solid goldenrod;
  height:25vh;
  width:25vw;
  text-align: center;
  
  
}

.skill-heading{
  color: rgb(202, 199, 38);
}
.python-percent{
  font: bold 20px 'Roboto Slab', sans-serif;
  margin: auto;
  width: 70%;
  height: 2%;
  position: relative;
}
.css-percent{
  font: bold 20px 'Roboto Slab', sans-serif;
  margin: auto;
  width: 70%;
  height: 2%;
  position: relative;
}.docker-percent{
  font: bold 20px 'Roboto Slab', sans-serif;
  margin: auto;
  width: 70%;
  height: 2%;
  padding:10px;
  position: relative;
}.javascript-percent{
  font: bold 20px 'Roboto Slab', sans-serif;
  margin: auto;
  width: 70%;
  height: 2%;
  position: relative;
}.html-percent{
  font: bold 20px 'Roboto Slab', sans-serif;
  margin: auto;
  width: 70%;
  height: 2%;
  position: relative;
}.bash-percent{
  font: bold 20px 'Roboto Slab', sans-serif;
  margin: auto;
  width: 70%;
  height: 2%;
  position: relative;
}
#python-percent{
  padding:20px 0;
}
#css-percent{
  padding:20px 0;
}
#docker-percent{
  padding:20px 0;
}
#javascript-percent{
  padding:20px 0;
}
#html-percent{
  padding:20px 0;
}
#bash-percent{
  padding:20px 0;
}



/*-----------------------------------*\
  #FOR WIDTH 420PX ANIMATION
\*-----------------------------------*/

@media screen and (max-width:432px) {
  .main-container {
    width: 100%;
    
    background-image: url('/images/nice-background.jpg');
    background-size: contain;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
  }

  .navbar {
    position: fixed;
    backdrop-filter: blur(10px);
    background-color: transparent;
    border-bottom: 1px solid var(--coding-green);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 6% !important;
    z-index: 1000;
  }
  .logoimg{
    content: url('../images/SID-385-mobile.png');
  }
  .logo{
    margin: 2.5% 2% ;
    margin-bottom: 0;
  }
  .navbar .logo img{
    width: 5rem;
    
    
  
  }
  .navbar .tabs{
    display: flex;
    flex-direction: row;
    margin: auto 1.5rem;
  }
  
  .navbar .tabs a{
    padding: 10px 5px;
  }


  /*-----------------------------------*\
  #MAIN BODY SECTION
\*-----------------------------------*/
  .main-body {
    width: 100%;
    height: 94%;
    margin: 2px auto;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .main-body section {
    flex: 1 1 0%;
    ;
  }

  /*-----------------------------------*\
    #HOME SCREEN
  \*-----------------------------------*/
  /* main body */
  .main-body .Home {
    display: flex;
    flex-direction: column;


  }


  /* picture and name and info */
  .intro {
    margin: 30% auto;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    width: 100% !important;
    justify-content: center !important;
  }

  /* img css */
  .intro img {
    margin: auto;
    margin-bottom: 25px;
    position: relative;
    border-radius: 50%;
    height: 50%;
    width: 50%;

  }

  /* name info setting */
  .intro .name-info {
    margin: 5px auto;
    width: 60%;
    height: 40%;
  }

  /* name setting */
  .name-info h1 {
    text-align: center;
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 2.5rem;
    font-style: bold;
    color: var(--coding-green);
  }

  /* paragraph setting */
  .intro .name-info p {
    margin: 1.25rem auto;
    font-family: "Titillium Web", cursive;
    color: var(--coding-green);
    font-size:1.1rem;
  }

  #passionate {
    font-style: italic;
    color: var(--golden-gold);
  }

  /* Contact Me button */
  .contact-btn {
    backdrop-filter: blur(10px);
    margin: auto;
    margin-top: 0;
    margin-bottom: 10px;
    background-color: transparent;
    border: 1px solid var(--coding-green);
    border-radius: 1.875rem;
    box-shadow: 0 0 1px transparent;
    color: var(--coding-green);
    display: inline-block;
    font-weight: 700;
    line-height: 1;
    padding: .75rem 2rem;
  }

  .contact-btn:hover {
    background-color: var(--golden-gold);
    color: var(--black-texture);
    font-weight: bold;
  }



  /* Social Box */
  .social-box {
    padding: 20px 20px 5px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 10px;
    margin: 15px auto;
    border: 2px solid var(--coding-green);
    border-radius: 15px 50px;
    border-style: groove;
    backdrop-filter: blur(10px);
    margin-bottom: 50px;
    width: 95%;


  }

  .social-box a {
    margin: auto;
    padding: 2px 10px 2px 10px;

  }

  .social-box a:hover {
    background-color: var(--golden-gold);
    border-radius: 50px;


  }
  .About{
    width: 94%;
    margin: auto;
    
  }
  /* About Heading */
  .About h1{
    font-family: "Handjet", sans-serif;
    color:var(--rosy-red);
    font-size: 450%;
    text-align: center;
    margin-bottom: 10%;
  
  }
  /* text info of about */
  .About .about-info{
    text-align: center;
    color: var(--rosy-red);
    width: 90%;
    margin: auto;
    margin-bottom: 1em;
    border: 2px solid var(--rosy-red);
    padding:20px;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    font-family: "Titillium Web", cursive;
  
  }
  
  
  
  .About .about-info a{
    color:var(--golden-gold)
  }
  
  
  .About .about-info a:hover{
    color:black;
    background-color:var(--rosy-red)
  }
  .about-container-large{
    display: none;
  }
  .about-container-small{
    display: block;
    width: 100%;
  }
  
  .about-container-small .item-list{
    max-width: 100%;
    width:50%;
    display: flex;
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: x mandatory;
    margin: auto;
  }
  .about-container-small .items{
    scroll-snap-align: center;
    width: 100%;
    justify-content: center;
  }

  .about-box{
    border: 2px solid var(--rosy-red);
    text-align: center;
    border-radius: 10px 20px 10px 20px;
    backdrop-filter: blur(10px);
    flex: 1 !important;
    width: 900px;
    margin:10px 1px;
    margin-right: 20px;
    padding:20px;
    
  }
  
  .about-box h2{
    font-family: "Lobster", sans-serif;
    color: var(--rosy-red);
    padding-top: 10px;
    margin-bottom: 25px;
    --animate-duration: 5s;
  }
  .about-box ul{
    text-align: left;
    padding-left:0;
    margin-top: 30px;
    list-style: none;
  }
  

  
  /* Animated property of ul */
  
  
  .about-box-small li{
    display: flex; /* Use flexbox to align icon and text */
    align-items: center; /* Vertically align icon with text */
    font-size: 1rem;
    /* background: black; */
    margin: 10px 0;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    font-family: "Titillium Web", cursive;
    color: var(--pinky-pink);
  }
  .about-box-small li i {
    /* font-size: 1.8rem; */
    color: var(--golden-gold);
    margin-right: 15px;
  }
  .about-box-small li span{
    color:var(--golden-gold);
    padding-left: 4px;
    font-style: italic;
    font-weight: bold;
  }
 
  
  
  /*-----------------------------------*\
    #SKILLS PAGE
  \*-----------------------------------*/
  
  .skills{
    width: 94%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  
  .skills h1{
    color:var(--golden-gold);
    text-align:center
  }
  .skills .container{
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    color:white;
    border: 2px solid var(--golden-gold);
    height:30vh;
    width:90vw;
    justify-content: space-between;
    backdrop-filter: blur(10px);
  
  }
  .container .lang{
    margin:auto 10px;
    border: 2px solid goldenrod;
    height:25vh;
    width:25vw;
    text-align: center;
    
    
  }

  

  /*-----------------------------------*\
  #MAIN BODY SECTION
\*-----------------------------------*/
  
}
  /*-----------------------------------*\
    #KEYFRAMES ANIMATION
  \*-----------------------------------*/
